<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.explorer.statistics.mapper.GovernanceMapper">

    <insert id="saveGovernanceInfos">
        INSERT INTO tbl_governance_info
        (
        peer_pub_key,
        address,
        consensus_pos,
        candidate_pos,
        new_pos,
        withdraw_consensus_pos,
        withdraw_candidate_pos,
        withdraw_unfreeze_pos
        )
        VALUES
        <foreach collection="list" item="info" separator=",">
            (
            #{info.peerPubKey},
            #{info.address},
            #{info.consensusPos},
            #{info.candidatePos},
            #{info.newPos},
            #{info.withdrawConsensusPos},
            #{info.withdrawCandidatePos},
            #{info.withdrawUnfreezePos}
            )
        </foreach>
    </insert>

    <delete id="removeGovernanceInfos">
        DELETE FROM tbl_governance_info
    </delete>

    <select id="getMaxIncomeCycle" resultType="Integer">
        SELECT IFNULL(MAX(cycle),0) FROM tbl_income_info
    </select>

    <select id="getIncomeInfoCount" resultType="Integer">
        SELECT COUNT(1) FROM tbl_income_info
    </select>

    <insert id="saveIncomeInfos">
        INSERT INTO tbl_income_info
        (
        peer_pub_key,
        address,
        ong_income,
        staking_pos,
        withdraw_pos,
        new_pos,
        next_withdrawable_pos,
        peer,
        cycle
        )
        VALUES
        <foreach collection="infos" item="info" separator=",">
            (
            #{info.peerPubKey},
            #{info.address},
            #{info.ongIncome},
            #{info.stakingPos},
            #{info.withdrawPos},
            #{info.newPos},
            #{info.withdrawUnfreezePos},
            #{info.peer},
            #{cycle}
            )
        </foreach>
    </insert>

    <select id="selectWithdrawableInfo" resultType="com.github.ontio.explorer.statistics.model.IncomeInfo">
        SELECT
        peer_pub_key AS peerPubKey,
        address,
        peer
        FROM tbl_income_info
        WHERE next_withdrawable_pos > 0
        AND cycle = #{cycle}
    </select>

    <select id="selectNewNodeInfo" resultType="com.github.ontio.explorer.statistics.model.IncomeInfo">
        SELECT
            a.peer_pub_key AS peerPubKey,
            a.address,
            a.staking_pos AS stakingPos,
            a.peer
        FROM tbl_income_info a
        LEFT JOIN tbl_income_info b
        ON a.address = b.address AND a.peer_pub_key = b.peer_pub_key AND a.cycle-1 = b.cycle
        WHERE a.staking_pos > 0 AND b.staking_pos IS NULL AND a.cycle = #{cycle}
    </select>

    <select id="getMaxStakingInfoCycle" resultType="Integer">
        SELECT IFNULL(MAX(cycle),0) FROM tbl_node_staking_info
    </select>

    <select id="getStakingInfoCountByCycle" resultType="Integer">
        SELECT COUNT(1) FROM tbl_node_staking_info WHERE cycle = #{cycle}
    </select>

    <insert id="saveStakingInfos">
        INSERT INTO tbl_node_staking_info
        (
        peer_pub_key,
        address,
        amount,
        action,
        node_status,
        block_height,
        tx_hash,
        cycle
        )
        VALUES
        <foreach collection="infos" item="info" separator=",">
            (
            #{info.peerPubKey},
            #{info.address},
            #{info.amount},
            #{info.action},
            #{info.nodeStatus},
            #{info.blockHeight},
            #{info.txHash},
            #{cycle}
            )
        </foreach>
    </insert>
</mapper>