<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.explorer.statistics.mapper.NodeOverviewHistoryMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.explorer.statistics.model.NodeOverviewHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rnd_start_blk" jdbcType="BIGINT" property="rndStartBlk"/>
        <result column="rnd_end_blk" jdbcType="BIGINT" property="rndEndBlk"/>
        <result column="rnd_start_time" jdbcType="INTEGER" property="rndStartTime"/>
        <result column="rnd_end_time" jdbcType="INTEGER" property="rndEndTime"/>
        <result column="cycle" jdbcType="INTEGER" property="cycle"/>
    </resultMap>

    <select id="checkHistoryExist" resultMap="BaseResultMap">
        SELECT id,
        rnd_start_blk,
        rnd_end_blk,
        rnd_start_time,
        rnd_end_time,
        cycle
        FROM tbl_node_overview_history
        LIMIT 10;
    </select>
    <update id="updateRnkEndTime">
        UPDATE tbl_node_overview_history
        SET rnd_end_time = #{roundEndTime}
        WHERE rnd_end_blk = #{roundEndBlock};
    </update>

    <select id="queryRoundByTimeStamp" resultMap="BaseResultMap">
        SELECT id,
        rnd_start_blk,
        rnd_end_blk,
        rnd_start_time,
        rnd_end_time,
        cycle
        FROM tbl_node_overview_history
        WHERE rnd_start_time <![CDATA[ < ]]> #{time}
        AND (rnd_end_time <![CDATA[ > ]]> #{time} OR rnd_end_time IS NULL)
        OR rnd_start_time <![CDATA[ > ]]> #{time}
        ORDER BY cycle ASC;
    </select>

    <select id="queryRoundByCycle" resultMap="BaseResultMap">
        SELECT id,
        rnd_start_blk,
        rnd_end_blk,
        rnd_start_time,
        rnd_end_time,
        cycle
        FROM tbl_node_overview_history
        WHERE cycle <![CDATA[ > ]]> #{cycle}
        ORDER BY cycle ASC
    </select>

    <select id="queryNodeDetailByCycle" resultMap="BaseResultMap">
        SELECT id,
               rnd_start_blk,
               rnd_end_blk,
               rnd_start_time,
               rnd_end_time,
               cycle
        FROM tbl_node_overview_history
        where cycle = #{cycle}
    </select>


</mapper>